@charset "utf-8";

/* 仮線 */
/* *{
    border: solid 1px #000000;
}
html,body{
    border: 0;
} */
@media screen and (min-width: 481px){
    html{
        font-size: 16px;
        background-color: #e6d7e3;
    }
    h1{
        font-size: 5rem;
        font-family: "Sora", sans-serif;
        font-weight: bold;
        letter-spacing: 0.11rem;
        padding: 3rem;
        margin: 3rem 5rem 6rem;
        text-align: center;
    }
    h2{
        font-size: 2rem;
        font-family: "Sora", sans-serif;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }
    h3{
        font-size: 1.5rem;
        font-weight: bold;
        font-family: "Noto Sans JP", sans-serif;
        margin: 1.5rem 1rem 1.5rem 4.7rem;
    }
    h4{
        font-size: 1.3rem;
        font-family: "Noto Sans JP", sans-serif;
    }
    p{
        font-size: 1rem;
        font-family: "Noto Sans JP", sans-serif;
        line-height: 2rem;
        letter-spacing: 0.15rem;
    }
    section{
        margin: 0rem 10rem 3rem 10rem;
        border: solid 1px #000000;
        border-radius: 25px;
        padding: 2rem 5rem 9rem;
        background-color: azure;
        background-position: center;
    }
    a{
        float: left;
        margin: 1.5rem;
    }
    div{
        margin-left: 5rem;
    }
    ul{
        width: 100%;
        margin-bottom: 2rem;
    }
    li{
        font-size: 1rem;
        font-family: "Noto Sans JP", sans-serif;
        margin: 0 2rem 0;
        line-height: 2rem;
        letter-spacing: 0.15rem;
        list-style-type: square;
    }
    audio{
        margin-bottom: 2rem;
    }
    span{
        background-color: rgb(247, 200, 100);
        border-radius: 10px;
        padding: 0rem 1.2rem;
    }
}
@media screen and (max-width: 480px){
    html{
        font-size: 14px;
        background-color: #e6d7e3;
    }
    h1{
        font-size: 5rem;
        font-family: "Sora", sans-serif;
        font-weight: bold;
        letter-spacing: 0.11rem;
        margin: 2rem 0 1rem;
        text-align: center;
    }
    h2{
        font-size: 2rem;
        font-family: "Sora", sans-serif;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }
    h3{
        font-size: 1.5rem;
        font-weight: bold;
        font-family: "Noto Sans JP", sans-serif;
        margin: 0 0 1rem;
    }
    h4{
        font-size: 1.3rem;
        font-family: "Noto Sans JP", sans-serif;
    }
    p{
        font-size: 1rem;
        font-family: "Noto Sans JP", sans-serif;
        line-height: 2rem;
        letter-spacing: 0.15rem;
    }
    section{
        height: 900px;
        margin: 0rem 2rem 2rem;
        border: solid 1px #000000;
        border-radius: 25px;
        padding: 2rem 1rem 2rem;
        background-color: azure;
        background-position: center;
    }
    a{
        float: left;
        margin: 1rem;
    }
    /* div{
        margin-left: 1rem;
    } */
    audio{
        margin-bottom: 2rem;
    }
    ul{
        width: 100%;
        margin-bottom: 3rem;
    }
    li{
        font-size: 1rem;
        font-family: "Noto Sans JP", sans-serif;
        margin: 0 2rem 1rem;
        line-height: 2rem;
        letter-spacing: 0.15rem;
        list-style-type: square;
    }
    span{
        background-color: rgb(247, 200, 100);
        border-radius: 10px;
        padding: 0rem 1.2rem;
    }
}
